@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
:root {
  --text-color: #000000;
  --text-color-secondary: #ffffff;
  --text-color-optional: gray;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;

  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --box-shadow2: 2px 2px 6px 2px rgba(0, 0, 0, 0.25);
}
html {
  scroll-behavior: smooth;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px !important;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1440px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

main {
  margin-top: 7rem;
}

header {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease-in;
}

img.logoImg {
  width: 9rem;
  position: relative;
  transition: all 0.6s ease;
}

header.scrolled {
  padding: 0.8rem 2rem;
  box-shadow: var(--box-shadow);
}

header.scrolled img.logoImg {
  width: 6rem;
}

.headerLink.navbar-nav .navDiv a {
  margin: 0.5rem 1.5rem;
}
.headerLink.navbar-nav .navDiv a,
a.headerLinks {
  padding: 0.3rem 0;
  color: #bc9700 !important;
  text-decoration: none !important;
  font-size: 18px;
  border-bottom: 3px solid rgba(156, 137, 18, 0);
  transition: border-bottom 0.3s ease;
}
.headerLink.navbar-nav .navDiv a:hover,
a.headerLinks:hover {
  border-bottom: 3px solid #bc9700;
}
.headerLink.navbar-nav .navDiv a.active,
a.headerLinks:active {
  border-bottom: 3px solid #bc9700;
}
.navDiv {
  margin: 0.5rem 0;
}
.dropdown-menu {
  width: 18rem;
}
.dropdown-menu > a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none !important;
  font-size: 12px;
  background-color: white !important;
  padding: 0.6rem 1rem;
  border-bottom: 3px solid rgba(156, 137, 18, 0);
  transition: border-bottom 0.6s ease;
  border-bottom: 1px solid #e6e6e6;
}
.mb-5.myDreamFinder.dropdown-menu.show.dropdown-menu-right {
  width: 14rem;
}
.myDreamFinder > a {
  margin: 0.1rem 1rem;
  padding: 0.3rem;
}
.myDreamFinder svg.svg-inline--fa.fa-user-circle.fa-w-16 {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  color: #9d7e00;
}
.myDreamFinder img.img-fluid {
  width: 1.3rem;
  margin-right: 0.5rem;
}
a.signUpBtn {
  border: 1px solid #bc9700;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
}
/* a.signUpBtn {
  border-bottom: none;
} */
.dropdown-menu > a:hover {
  color: #bc9700;
}
.headerLink button.headerBtn {
  margin: 0.5rem 1rem;
  border: none;
  outline: none;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #bc9700;
  font-size: 1.1rem;
  background: transparent;
  transition: background 0.6s ease;
}
.headerLink button.headerBtn:focus {
  color: white;
  background-color: #bc9700;
}
button#dropdown-basic {
  background-color: transparent !important;
  border-color: #bc9700 !important;
  color: #bc9700;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0 auto;
}

svg.svg-inline--fa.fa-user-circle.fa-w-16 {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

@media (min-width: 320px) {
  .ml-auto.headerLink.navbar-nav {
    align-items: flex-end;
    justify-content: center;
  }
}

/* footer styles */

footer {
  border-top: 1px solid rgba(211, 211, 211, 0.3);
}
.footerLogo {
  color: #ffd200;
  font-size: 18px;
  font-weight: 700;
}
.footerLogo::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 59rem;
  margin-top: 0.5rem;
  margin-left: 0.4rem;
  background-color: #ffd200;
}

.socialIcon a {
  margin: 0 0.5rem;
}

.socialIcon a:first-child {
  margin-left: 0;
}
.footerRightLink a {
  color: #ffe778 !important;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
}

.footerLink a {
  color: black;
  margin: 0 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
}

.footerLeft p {
  color: white;
  font-size: 14px;
  line-height: 25px;
  width: 18rem;
}
@media (min-width: 768px) and(max-width:992px) {
  .scrollToTop {
  }
}
.scrolling {
  display: none;
}
.scrollToTo {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: #bea716;
  bottom: 2rem;
  right: 2rem;
  margin-top: 10rem;
  border-radius: 100%;
  animation: pulse 2s infinite;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.whatsapp {
  position: fixed;
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgb(8, 206, 1);
  bottom: 5.5rem;
  right: 1.5rem;
  margin-top: 0rem;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp svg.MuiSvgIcon-root {
  color: white;
  font-size: 3.2rem;
}
.scrollToTop svg.MuiSvgIcon-root {
  animation-name: bounce-2;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  font-size: 2rem;
  color: white;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #bea716;
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(238, 115, 84, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 115, 84, 0);
  }
}

@media (max-width: 575px) {
  .footerLogo::after {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .footerRightLink a {
    text-align: right;
  }
  .calculationRight {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .getInTouchCard.card {
    position: relative;
    top: -6rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footerLogo::after {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footerLogo::after {
    width: 100%;
  }
}
/* end of footer styles */

/* headermain styles */
.headerMainSearchModal .modal-dialog,
.headerMainSearchModal .modal-content {
  max-width: 100% !important;
  margin: 0 !important;
  height: 45rem !important;
  border: none !important;
}

section.header-main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../public/images/mother.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-indicators li {
  height: 0 !important;
  border-radius: 50%;
  background: gray !important;
  width: 20px !important;
  margin-top: 1rem;
}
img.d-block.w-100 {
  margin-bottom: 2rem;
}
.headerMainTitle {
  font-size: 24px;
  font-weight: 700;
  color: #faf8ff;
  line-height: 45px;
  text-align: center;
}

@media (min-width: 768px) {
  .headerMainTitle {
    font-size: 28px;
  }
}

.colorText {
  font-size: 24px;
  line-height: 45px;
  font-weight: 700;
}

.btnGroupDiv button {
  background-color: rgba(255, 251, 236, 0.75);
  border: none;
  outline: none !important;
  margin: 0 0.6rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  height: 44px;
  width: 112px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #474747;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.btnGroupDiv button:focus,
.btnGroupDiv button:hover {
  background-color: #bc992f;
  color: white;
}

.searchDiv {
  background: rgb(0, 0, 0, 0.3);
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  border-radius: 8px;
}

.searchDiv button.headerMain {
  width: 9.65rem;
}

.searchDiv input {
  /* border: 1px solid #797979;
  border-radius: 8px;
  outline: none;
  width: 100% !important;
  padding-left: 1rem;
  height: 2.5rem; */
}
.searchDiv input::placeholder {
  padding-right: 1rem;
  font-weight: 500;
}
.searchDetails {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}
.searchDiv .findPropertyDiv.dropdown::after {
  background-color: transparent;
}
button.searchFindBtn {
  border: none;
  outline: none !important;
  background-color: #bc992f;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 0px 6px 6px 0px;
  font-size: 16px;
  font-weight: 700;
  height: 3rem;
  transition: all 0.5s ease;
}
button.searchFindBtn:hover {
  background-color: #c39103;
}
.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}

button.filter,
button.filter:hover,
button.filter:focus,
button.filter:active {
  background-color: transparent !important;
  color: #ffe778;
  font-size: 12px;
  padding: 0;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

button.filter .MuiSvgIcon-root {
  font-size: 1rem;
}

.accordion > .card {
  overflow: visible !important;
}

.proTypeBtnDiv button {
  color: gray;
  font-size: 14px;
  margin: auto 0.2rem;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  padding: 0.2rem 0.5rem;
  border: 0.1px solid rgba(211, 211, 211, 0);
  transition: all 0.3s ease;
}
.proTypeBtnDiv button:focus,
.proTypeBtnDiv button.active {
  color: black;
  outline: none;
  border: 0.1px solid rgba(211, 211, 211, 1);
  border-radius: 6px;
}
button.propertyTypeBtn {
  text-decoration: none;
  color: #bc992f;
  font-size: 12px;
  padding: 0.4rem 1rem;
  border: none;
  background: transparent;
  text-align: start;
  border-bottom: 0.1px solid lightgray;
}
button.propertyTypeBtn:hover {
  background-color: #e7e7e7;
}
button.propertyTypeBtn.active {
  background-color: #e7e7e7;
  color: black;
}
.comercialOptionsDiv {
  display: none;
}
.resetBtn {
  border: none;
  outline: none !important;
  background: none;
  font-size: 1rem;
  color: gray;
}
.resetBtn .MuiSvgIcon-root {
  font-size: 1.2rem;
}
button.headerMain {
  width: 13.5rem;
  font-size: 12px;
  background: white !important;
  color: black !important;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border: 0 !important;
  box-shadow: none !important;
}

@media (min-width: 1600px) {
  button.headerMain {
    width: 17rem;
  }
  .searchDiv button.headerMain {
    width: 12.05rem;
  }
}

.searchBtn {
  background: white;
  border-radius: 0.5rem;
}
input.priceInput.form-control {
  height: 2.5rem;
  border-radius: 4px;
  width: 100%;
  border: 1px solid lightgray;
}
button.priceSubmitBtn {
  background: #bc992f;
  color: white;
  border: none;
  font-size: 12px;
  outline: none !important;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 0;
}

.searchDropDownMenu.dropdown-menu {
  width: 13rem;
  max-height: 16rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.searchDropDownMenu.PriceMenu.dropdown-menu,
.searchDropDownMenu.bedmenu.dropdown-menu,
.searchDropDownMenu.bathmenu.dropdown-menu.dropdown-menu-right {
  width: 100%;
}

button.active,
.modalBtnDiv button.active {
  background-color: #bc9700;
  color: white;
}

.select__control.css-yk16xz-control,
.select__value-container.select__value-container--is-multi.css-g1d714-ValueContainer {
  height: 3rem;
}
@media (min-width: 320px) and (max-width: 768px) {
  .searchDiv input {
    width: 15rem;
  }
  .searchDiv::before {
    right: 3rem;
    display: none;
  }
  button.searchFindBtn {
    margin-left: 0;
  }
  h5.text-white {
    text-align: center;
    cursor: pointer;
    margin: 2rem 0;
  }
  .calculationRight {
    margin-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .searchDetails.d-flex.justify-content-between.flex-wrap {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .contactUpFormFooter button {
    width: 8rem !important;
  }
}

@media (min-width: 1000px) {
  .contactUpFormFooter button {
    width: 6rem;
  }
}

@media (max-width: 1200px) {
  .searchDiv {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .new_project,
  .Auction,
  .Rent,
  .Sell {
    display: none !important;
  }
}

.modalSearchSelect {
  box-shadow: var(--box-shadow);
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}

.searchModalDiv {
  padding-top: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid #e7e7e7;
  border-radius: 8px;
}
.searchModalDiv span.MuiBadge-root {
  width: 100%;
}
button.searchModalBtn {
  background-color: white !important;
  color: black !important;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none !important ;
}

.ModalSearchDropDownMenu.dropdown-menu {
  width: 100%;
  max-height: 16rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modalBtnDiv button {
  background-color: rgba(255, 251, 236, 0.75);
  border: 1px solid #e7e7e7;
  outline: none !important;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
  height: 44px;
  width: 112px;
  font-size: 16px;
  font-weight: 700;
  color: #474747;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease;
}

.modalBtnDiv button.rent {
  border-radius: 8px 0px 0px 8px;
}

.modalBtnDiv button.auction {
  border-radius: 0px 8px 8px 0px;
}
.modalBtnDiv button:focus,
.modalBtnDiv button:hover {
  background-color: #bc992f;
  color: white;
}

h3.filterSearch {
  font-weight: 700;
  font-size: 1.5rem;
}

/* .searchModalFooter {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  background-color: white;
} */

.col-md-12.col-sm-12.fixedDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
}

@media (max-width: 991px) {
  div#basic-navbar-nav {
    display: none;
  }
}
img.img-fluid.navImg {
  width: 1rem;
  margin-right: 0.5rem;
}
a.headerLink {
}
/* end of header main styles */

/* common header css start */
.commonHeader h1 {
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  font-weight: 700;
  color: #a08a00;
  margin: 2rem 0;
}

.commonHeader h1::after {
  content: "";
  position: absolute;
  background: #a08a00;
  height: 1px;
  width: 38%;
  right: 0;
  margin-right: 1rem;
  margin-top: 1.6rem;
}
.commonHeader h1::before {
  content: "";
  position: absolute;
  background: #a08a00;
  height: 1px;
  width: 38%;
  left: 0;
  margin-left: 1rem;
  margin-top: 1.6rem;
}

@media (max-width: 575px) {
  .commonHeader h1::before,
  .commonHeader h1::after {
    width: 18%;
  }
  .contactUpFormFooter button {
    width: 6rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .commonHeader h1::before,
  .commonHeader h1::after {
    width: 24%;
  }
}

/* common header css end */
/* Premium Agents styles start */
.sectionTitle .Title {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin: 3rem 0;
}

img.sliderImg {
  width: 8rem;
}
.slick-prev,
.slick-next {
  z-index: 100;
}
button.slick-arrow.slick-next {
  margin-right: 5rem;
}
button.slick-arrow.slick-prev {
  margin-left: 2rem;
}
.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
  color: #bc992f;
  font-size: 4rem;
}
.premiumAgentsSlider .slick-track {
  padding-top: 3rem;
  width: 500px;
  margin: 0 auto;
}
.slick-list {
  padding: 0 !important;
  margin: auto;
}
.slick-slide.slick-active h5 {
  visibility: hidden;
}
.slick-slide.slick-active.slick-center.slick-current h5 {
  font-size: 18px;
  color: black;
  visibility: visible;
}
.slick-slide.slick-active {
  transition: transform 0.6s ease;
}
.slick-slide.slick-active.slick-center.slick-current {
  transform: scale(1.2);
}

@media (max-width: 576px) {
  .slick-slide.slick-active.slick-center.slick-current {
    transform: scale(1);
  }
  .col-md-10.mx-auto.d-flex.blogCard {
    margin: 1rem !important;
  }
}
/* Premium Agents styles end */

/* Popular area styles start */
.popular-area .container .row .locationTable {
  border: 1px solid #e7e7e7;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.popularAreaHeading {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1rem;
}
button.seeMoreBtn {
  border: none;
  outline: none;
  background: transparent;
}
svg.svg-inline--fa.fa-arrow-right.fa-w-14 {
  background: #e6e4e4;
  border-radius: 50%;
  padding: 12px;
  width: 5rem;
  height: 5rem;
}
p.text-center.seeMoreBtn {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Popular area styles end */
/* Single Area styles start */
.areaName {
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #000000;
  font-size: 1.1rem;
}

button.moreBtn {
  border: none;
  outline: none !important;
  background: transparent;
  padding: 0;
  font-weight: 600;
}
a.mb-1.placeName {
  text-decoration: none;
  color: black;
}

/* Single Area styles end */
/* Single property styles start */

.propertyCard {
  box-shadow: var(--box-shadow);
  height: 100%;
}
.propertyCard:hover {
  cursor: pointer;
}
.propertyName {
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0;
  overflow: hidden;
}

.propertyAdd {
  font-size: 14px;
  line-height: 24px;
  color: #474747;
}

.propertyText {
  color: #a7a7a7;
  font-size: 12px;
  line-height: 22px;
}

.cardFooter h4 {
  color: #6ab53e;
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

/* Single property styles end */
/* Partner styles end */
img.partnerImg {
  width: 300px;
  margin-bottom: 3rem;
}
@media (min-width: 576px) {
  img.partnerImg {
    width: 375px;
    margin-bottom: 3rem;
  }
}
.partnerName {
  font-weight: 700;
  color: #ff0000;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.iqiGlobal {
  font-size: 28px;
  font-weight: 700;
}
.imfoAboutPartner li {
  line-height: 40px;
}

/* Partner styles end */
/* Single blog styles end */
.blogCard {
  box-shadow: var(--box-shadow);
}

.blogTitle {
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 1rem;
}

.writerName.card-title.h5 {
  font-size: 16px;
  line-height: 15px;
  margin-bottom: 5px;
}

.blogDetails {
  font-size: 14px;
  line-height: 16px;
  height: 4rem;
  overflow: hidden;
}

/* Single blog styles end */
/*Social Media styles start */
section.socailMedia {
  background: #263238;
}
.sectionTitle h3 {
  color: #ffd200;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.sectionTitle h3::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  margin-top: 0.6rem;
  margin-left: 0.4rem;
  background-color: #ffd200;
}

@media (min-width: 768px) {
  .socialMedia {
    width: 100% !important;
  }
  .sectionTitle .Title {
    font-size: 24px;
  }
  .commonHeader h1 {
    font-size: 26px;
  }
  .partnerName {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .sectionTitle h3::after {
    width: 82%;
  }
  h5.text-white {
    text-align: center;
    cursor: pointer;
    margin: 1rem;
  }
}

/*Social Media styles end */
/*Sign up styles end */
.signUpCard {
  box-shadow: var(--box-shadow);
  background: #fffef5 !important;
  padding: 1rem;
  padding-bottom: 2rem;
}
h3.formTitle {
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  line-height: 38px;
  margin-bottom: 1.5rem;
}
label.form-label {
  font-size: 14px;
  line-height: 25px;
  color: #474747;
}
h1.signUpTitle {
  font-size: 52px;
  color: #474747;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.signUpLeft p {
  font-size: 24px;
  line-height: 30px;
}
.signUpLeft img {
  width: 425px;
  opacity: 0.5;
}
button.social-btn,
a.social-btn {
  border: none;
  outline: none !important;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  color: gray !important;
  background: transparent;
  border-radius: 8px;
  text-decoration: none !important;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.social-btn img {
  width: 1.5rem;
}
.sign-up-btn {
  border: none;
  outline: none !important;
  padding: 0.5rem 1rem;
  width: 8rem;
  font-size: 1.15rem;
  font-weight: 600;
  color: white;
  background: #bc992f;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
a.insteadLogin {
  margin: 1.2rem 0;
  color: black;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.2rem;
}

button#SignUpFormDropDown {
  border: 1px solid #ced4da;
  color: gray;
  width: 100%;
  border-radius: 8px;
  height: 2.5rem;
  text-align: start;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}
.SignUpFormDropDownMenu.dropdown-menu.show {
  width: 100%;
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.proTypeOptionsDiv p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #453ace;
}
.form-check-label {
  padding: 0.1rem 0.5rem;
}
.form-check-label:hover {
  cursor: pointer;
  background: lightgray;
  border-radius: 15px;
  z-index: 10000;
}
/*Sign up styles end */
/*Login styles start */

h3.formTitle {
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  line-height: 38px;
  margin-bottom: 1.5rem;
}
input.priceInput.form-control::placeholder {
  font-size: 10px;
}
h1.signUpTitle {
  font-size: 52px;
  color: #474747;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.signUpLeft p {
  font-size: 24px;
  line-height: 30px;
}
.signUpLeft img {
  width: 425px;
  opacity: 0.5;
}

.social-btn img {
  width: 1.5rem;
}

a.insteadLogin {
  margin: 2.5rem 0;
  color: black;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.2rem;
}
input.form-control {
  box-shadow: var(--box-shadow) !important;
  height: 2.5rem;
  border-radius: 8px;
}
input.form-control::placeholder {
  font-size: 14px;
}
.areaGuideInputGroup input.form-control {
  box-shadow: none !important;
}

/*Login styles end */

/* Area Guide styles start */
.districtDropDown .searchDropDownMenu.dropdown-menu {
  height: 15rem;
  overflow-y: scroll;
}

.districtDropDow button.headerMain {
  width: 14rem;
}

.propertyCard {
  box-shadow: var(--box-shadow);
}
button.seeAllBtn {
  border: 0;
  background-color: #bc992f;
  color: white;
  width: 130px;
  height: 40px;
  border-radius: 8px;
  text-align: center;
}

.AreaGuideTitle h1 {
  font-size: 60px;
  font-weight: 700;
  color: #ffd200;
  line-height: 62px;
  margin-bottom: 5rem;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #696969;
}
p.AreaGuideP {
  font-size: 14px;
  font-weight: 400;
  color: #fde23c;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 25px;
  background-color: #474747;
}

p.blogP {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 25px;
}

.findPropertySearch1 {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 8px;

  margin-left: 0;
  border: 1px solid #d8d8d8;
}
.findPropertySearch2 {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .findPropertySearch1 {
    width: 55%;
    margin: 1rem;
    margin-left: 0;
  }
  .findPropertySearch2 {
    width: 44%;
    margin-left: 1rem;
  }
}
section.areaGuideHeaderMain {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../public/images/AdobeStock_181034458.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

section.blogHeaderMain {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../public/images/Blogs.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.areaGuideInputGroup {
  box-shadow: var(--box-shadow);
  padding: 0.5rem 0;
  /* padding-top: 1.5rem; */
  /* padding-bottom: 0.5rem; */
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
}
input.areaSearch.form-control {
  border: 0;
  box-shadow: none;
}
span.searchIcon.input-group-text {
  border: 0;
  background: white;
  border-radius: 0;
  padding-right: 1rem;
  height: 3rem;
}

.districtDiv {
  border-right: 1px solid #bfbfbf;
  border-radius: 0;
  padding-right: 1rem;
}
.districtDiv:last-child {
  border-right: 0;
}

/* .areaGuideHeaderMain {

  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@media (max-width: 768px) {
  .col-md-3.d-flex.justify-content-center.districtDiv {
    justify-content: start !important;
  }
  .contactUpFormFooter button {
    width: 8rem;
  }
}
/* Area Guide styles end */

/*Single Area Guide info styles start */

.singeAreaHeader h3 {
  font-size: 32px;
  color: #747474;
  line-height: 52px;
}

.singeAreaHeader button {
  border: 0;
  background-color: transparent;
  color: #474747;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.singleAreaInfoDetails img {
  width: 100%;
}
.singleAreaInfoDetails h1 {
  font-size: 28px;
  line-height: 40px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase;
}
.singleAreaInfoDetails h3 {
  font-size: 20px;
  line-height: 42px;
  color: black;
  font-weight: 700;
  margin: 2.5rem 0;
  text-transform: uppercase;
}
.singleAreaInfoDetails p {
  font-size: 14px;
  line-height: 25px;
  color: black;
  margin-bottom: 3rem;
}
/*Single Area Guide info styles end */

/* Find Properties styles start */

.findPropertyDropDownCard {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}
.findPropertyDiv {
  /* border-right: 1px solid #bfbfbf; */
}
.findPropertyDiv:last-child {
  border-width: 0;
}
.findPropertyDropdownMenu.dropdown-menu {
  width: 10rem;
}
button.resetFilter {
  border: 1px solid #bfbfbf;
  background: transparent;
  outline: none;
  box-shadow: none;
  color: red;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.findPropertyHeader h1,
.newPropertyListing h1 {
  color: #747474;
  font-size: 28px;
  line-height: 52px;
}
.findPropertyHeader button {
  border: 0;
  background-color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0.5rem 1rem;
  padding: 0.3rem 0;
  color: #474747;

  border-bottom: 2px solid rgba(71, 71, 71, 0);
  transition: all 0.6s ease;
}

@media (min-width: 576px) {
  .findPropertyHeader button {
    width: 6rem;
    margin: 0.5rem;
  }
  .postPropertyBtnDiv {
    display: flex;
    justify-content: flex-end;
  }
}

.findPropertyHeader button.active {
  border-bottom: 2px solid rgba(71, 71, 71, 1);
}
/* Find Properties styles end */

/* Finded single property details styles start */
.propertyCardButtonGroup button {
  border: 0;
  background: transparent;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: var(--box-shadow2);
}
.propertyCardButtonGroup button:last-child {
  margin-right: 0;
}
.propertyCardButtonGroup {
  padding: 1rem 0;
  flex-wrap: wrap;
}
ul {
  list-style-position: inside;
}
.propertyName h2 {
  font-size: 28px;
  margin-bottom: 0;
}
.propertyName h4 {
  font-size: 22px;
  line-height: 44px;
  color: #474747;
  margin-bottom: 0;
  word-break: break-word;
}
.FindedPropertyDetails h5 {
  font-size: 16px;
  color: #909090;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem 0;
}
.FindedPropertyDetails ul > li {
  line-height: 48px;
  font-size: 1rem;
}
.FindedPropertyDetails p {
  font-size: 1rem;
  line-height: 32px;
}

.findedPropertyFooter {
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.findedPropertyFooter h1,
.findedPropertyHeader h1 {
  font-size: 32px;
  line-height: 52px;
  color: #747474;
}
.findedPropertyFooter button {
  border: 0;
  background: transparent;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.findedPropertyHeader a {
  color: #747474 !important;
  font-size: 1rem;
  text-decoration: underline;
}
.findedPropertyHeader + h3 {
  color: #474747;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  margin-top: 1.5rem;
}
.findedItemcontactUsForm h1 {
  font-size: 26px;
  line-height: 78px;
  text-align: center;
  font-weight: 700;
  color: #6ab53e;
  margin: 1.5rem 0;
}
.findedItemcontactUsForm p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.formHeading p {
  color: #696969;
  text-transform: uppercase;
  line-height: 32px;
  font-size: 12px;
  margin: 0;
}
.formHeading h1 {
  font-size: 26px;
  line-height: 43px;
  font-weight: 700;
  margin: 1rem 0;
}
button.messageSendBtn {
  width: 100%;
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #bc9700;
  font-weight: 700;
  border: 1px solid #a7a7a7;
  text-transform: uppercase;
  padding: 0.5rem 0;
  box-shadow: var(--box-shadow);
}
.contactUpFormFooter p {
  text-align: center;
  font-size: 12px;
  line-height: 1rem;
  margin: 2.5rem 0;
}
.contactUpFormFooter button {
  border: 0;
  background: transparent;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #c5a200;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid #bc9700;
  text-transform: uppercase;
}

/* Finded single property details styles end*/

/* blog page styles start */
button.updateBtn {
  border: 0;
  background-color: #fcfbc7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #8f8f8f;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
}
.col-md-10.mx-auto.d-flex.blogCard {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
}

.blogCard:hover {
  cursor: pointer;
}
.blogBody h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.blogBody p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 20px;
}
.blogBody h6 {
  height: 3.5rem;
  font-size: 14px;
  overflow: hidden;
}
.singleBlogDetails h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 86px;
}
p.blogWriter {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0.5rem;
}
.singleBlogDetails i {
  color: #909090;
}
p.blogsDetails {
  font-size: 16px;
  line-height: 25px;
}
.singleBlogDetails h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 2rem 0;
}
h4.share {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
}
h4.share::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.1rem;
  background-color: #474747;
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
}
.shareBtnDiv button {
  border: 1px solid #e7e7e7;
  background: transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin: 0.8rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}

button.commentBtn {
  border: 0;
  background-color: #474747;
  color: #e7e7e7;
  box-shadow: var(--box-shadow);
  padding: 1rem 2rem;
  border-radius: 8px;
  text-transform: uppercase;
}
.commetsDetails {
  border-top: 2px solid #747474;
  padding: 4rem 0;
  margin-bottom: 5rem;
}

.commetsDetails h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}
.commetsDetails h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-left: 4rem;
}

/* blog page styles end */

/* user profile page styles start */
.userHeader h1 {
  font-size: 28px;
  color: #474747;
  font-weight: 700;
}
.userHeader button {
  border: 1px solid #474747;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 700;
  color: #474747;
  display: flex;
  align-items: center;
}
.userInfo {
  background-color: white;
  padding: 2rem !important;
  border: 1px solid #e7e7e7;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  margin-bottom: 2rem;
}
.userInfo img {
  width: 6rem;
}
.userInfo h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
}

.userInfo button {
  border: 1px solid #474747;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 700;
  color: #474747;
  text-transform: uppercase;
}

p.userRole {
  font-size: 14px;
  line-height: 24px;
  color: #474747;
  margin-bottom: 0.5rem;
}
.userInfoFooter p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.propertyManagementTitle h3 {
  font-size: 24px;
  font-weight: 700;
  color: #bea716;
}

.propertyManagementTitle h3::after {
  content: "";
  position: absolute;
  background: #bea716;
  height: 0.2rem;
  width: 20%;
  margin-top: 0.8rem;
  margin-left: 1rem;
}

@media (min-width: 426px) {
  .propertyManagementTitle h3::after {
    width: 40%;
  }
}

.singlePropertyCard {
  padding: 1.5rem !important;
  background-color: #fffff8;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  margin: 0.6rem;
  box-shadow: var(--box-shadow);
  transition: background 0.5s ease;
}
.singlePropertyCard:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}
.singlePropertyCard .svg-inline--fa {
  color: #9d7e00;
  font-size: 2.5rem;
}

.userHeader button .svg-inline--fa {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.singlePropertyCard h4 {
  font-size: 16px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 1rem;
}
.singlePropertyCard p {
  font-size: 14px;
  color: #474747;
}

@media (min-width: 577px) {
  .propertyManagementTitle h3::after {
    width: 50%;
  }
}
@media (min-width: 769px) {
  .propertyManagementTitle h3::after {
    width: 60%;
  }
  .singlePropertyCard {
    flex: 1 0 47% !important;
    max-width: 48% !important;
  }
  .areaGuideSearch {
    border-right: 1px solid #bfbfbf;
  }
}
@media (min-width: 993px) {
  .propertyManagementTitle h3::after {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .singlePropertyCard {
    max-width: 23% !important;
  }
}
/* user profile page styles end */
/* Real estate styles start */
.realEstateSolutions {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/images/LRM_EXPOR.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.solutionsDiv {
  height: 90vh;
}

.solutionsDiv h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #bc9700;
  text-align: center;
}

.solutionsDiv h4 {
  font-size: 24px;
  line-height: 60px;
  color: #bc9700;
  text-align: center;
}
@media (min-width: 768px) {
  .solutionsDiv h1 {
    font-size: 60px;
  }
  .solutionsDiv h4 {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .propertyCard.col-md-3.m-3.p-0.card {
    max-width: 21% !important;
  }
}
button.realEstateBtn {
  border: 0;
  outline: 0;
  margin: 1rem;
  font-size: 1rem;
  color: #f1f1f1;
  width: 14rem;
  background-color: #bc9700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
}

/* Real estate slider style start */

.position-relative.d-flex.flex-column.justify-content-center.align-items-center {
  height: 100vh;
}
.col-md-10.d-flex.flex-wrap.mx-auto.justify-content-center.align-items-center.slideText {
  position: absolute;
}

.fullpageDetails h1 {
  color: #bc9700;
  font-size: 72px;
  font-weight: 700;
}
.fullpageDetails h2 {
  color: #bc9700;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.fullpageDetails h3 {
  color: #bc9700;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.fullpageDetails p {
  color: white;
  font-size: 1rem;
  line-height: 25px;
}
img.slideImg {
  width: 100%;
  height: 100%;
}

.slick-track {
  width: 100%;
}
.slick-slide {
  /* height: 100vh !important; */
}
.slick-vertical .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
}

.fullpageDiv img {
  width: 100%;
  filter: grayscale(100%);
  /* -webkit-filter: grayscale(100%); */
  z-index: -1;
}

.fullpageDetails {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}
.overlayDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: white !important;
}
.section.fullpageDiv.d-flex.justify-content-center.align-items-center.position-relative {
  height: 100vh;
}
.propertyImgDiv {
  position: absolute;
  width: 100%;
}
/* Real estate slider style end */

/* Real estate styles end */

/* Loan calculator styles start */
section.CalCulationTopHeader {
  padding: 3rem 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../public/images/LoanCalc.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loanCalculatorHeader h1 {
  color: #fde23c;
  font-size: 36px;
  font-weight: 700;
}
.loanCalculatorHeader p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

button.interestBtn {
  height: 2.5rem;
  border-radius: 16px;
  border: 1px solid #ced4da;
  padding: 0 1rem;
}
button.interestBtn h6 {
  margin: 0;
  color: gray;
  cursor: default;
}

a.calculateBtn.w-100 {
  padding: 0.8rem 2.5rem;
  border-radius: 4px;
  background: #bc992f;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.calculationResult {
  background-color: #fffef5 !important;
  padding: 0 !important;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  border: 1px solid #ced4da;
}
h2.calculationTitle {
  color: #474747;
  font-weight: 700;
  font-size: 24px;
}
.calculationLeft p {
  font-size: 1rem;
  color: #474747;
}
.calculationLeft {
  border-right: 1px solid #e7e7e7;
  padding: 3rem !important;
}
button.calculateAgain {
  color: white !important;
  border: 0;
  outline: 0;
  background-color: #bc992f;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.8rem 2rem;
  text-decoration: none !important;
}

.calculationRight {
  padding: 3rem !important;
}
.calculationRight p {
  font-size: 1rem;
  color: #474747;
}
.calculationRight h6 {
  font-size: 1rem;
  color: #474747;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.calculationRight h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
}

.homeloanTitle {
  border-bottom: 1px solid #e7e7e7;
}

.bankHomeLoan {
  border-bottom: 1px solid #e7e7e7;
}
.bankHomeLoan tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bankHomeLoan p {
  font-size: 1rem;
  color: #747474;
  margin-bottom: 0.5rem;
  line-height: 25px;
}
.bankHomeLoan h3 {
  font-size: 24px;
  line-height: 32px;
}
button.applyNowBtn {
  border: 0;
  outline: 0;
  background: #bc992f;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 2rem;
  border-radius: 4px;
  line-height: 36px;
  letter-spacing: 0.3px;
}
.bankHomeLoan img {
  border: 1px solid #e7e7e7;
  padding: 2rem 1rem;
}
h1.faqTitle {
  font-size: 24px;
  line-height: 45px;
  font-weight: 700;
}
h5.faqQuestion {
  font-size: 18px;
  font-weight: 700;
}

p.faqAns {
  font-size: 14px;
  line-height: 25px;
}

button.saveBtn {
  background: white;
  border: 0;
  outline: 0;
}
svg.MuiSvgIcon-root.saved {
  color: #ff6161;
}
/* Loan calculator styles end */

/* List a new property styles start */
.list_a_new_property {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../public/images/listForm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2.listPropertyTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin: 2rem 0;
  text-align: right;
}
p.listPropertyDetails {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  width: 20rem;
  margin-left: auto;
}
p.listPropertyDetailsBold {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: right;
  width: 20rem;
  margin-left: auto;
}
h5.mr-4 {
  font-size: 16px;
}
button.listPropertySubmitBtn {
  border: 0;
  background: #bc992f;
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 1px;
}
a.backToProfile {
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 600;
  color: #474747 !important;
}

.listNewPropertyModal h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #474747;
  line-height: 60px;
}
.checkIconDiv {
  background: #6ab53e;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.checkIconDiv svg.MuiSvgIcon-root {
  font-size: 2.5rem;
}

td {
  font-size: 12px;
}

.listNewPropertyModal h4 {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin: 2rem 0;
}
.listNewPropertyModal p {
  line-height: 25px;
  text-align: center;
  margin-bottom: 4rem;
}
/* List a new property styles end */

/* Dashboard styles start */

h1.dashboardTitle {
  font-size: 28px;
  line-height: 52px;
  font-weight: 700;
  color: #474747;
}

/* Dashboard styles end */

/* List request styles start  */
button.listReqBtn {
  border: 0;
  outline: 0;
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  letter-spacing: 0.3px;
  box-shadow: var(--box-shadow);
  transition: background 0.5s ease;
}
button.listReqBtn.active {
  background-color: #bc992f;
  color: white;
}
/* .allPropertiesListTable td {
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
} */

h2.modalPurpose {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}
.modalDiv h3 {
  font-size: 16px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.modalTop.pb-4 {
  border-bottom: 1px solid #a7a7a7;
}
.modalDiv h3 span {
  font-weight: 400;
  font-size: 1rem;
  margin-right: 1rem;
}

.modalDiv button,
button.showRequest {
  background-color: #fffff8;
  border: 0;
  outline: 0;
  border-radius: 8px;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 1px solid #e7e7e7;
  box-shadow: var(--box-shadow);
  margin: 0 1rem;
}

a.postPropertyBtn,
button.postPropertyBtn {
  background-color: #bc992f;
  text-decoration: none !important;
  outline: none;
  border: none;
  color: white !important;
  font-weight: 600;
  letter-spacing: 0.3px;
  border-radius: 8px;
  padding: 0.7rem 2rem;
  box-shadow: var(--box-shadow);
}
/* List request styles end */

/* new property listing start */

.newPropertyListingForm .form-group {
  display: flex;
  align-items: center;
}
.newPropertyListingForm h5 {
  min-width: 10rem;
  margin-bottom: 0;
  font-size: 14px;
}

.newPropertyListingForm button#headerMain,
.newPropertyListingForm textarea {
  border: 1px solid #e7e7e7;
  box-shadow: var(--box-shadow) !important;
}

.textarea.form-control::placeholder {
  font-size: 12px;
}
.addingDiv button {
  border: 1px solid #e7e7e7;
  outline: 0;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: white;
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.addingDiv button svg.MuiSvgIcon-root {
  color: gray;
  font-size: 2rem;
}
/* new property listing end */

/* new blog post styles start  */

h5.mb-0.mr-3 {
  font-size: 16px;
}

button.onOff {
  padding: 0.2rem;
  width: 3rem;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  margin: 0;
}
button.onOff.active {
  background-color: #bc992f;
  color: white;
  border: 1px solid #e7e7e7;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
label.fileLabel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 300px;
  height: 44px;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  font-weight: bold;
  cursor: pointer;
}

span.searchIcon.input-group-text:hover {
  cursor: pointer;
}
nav.p-0.navbar.navbar-expand-lg.navbar-light {
  width: 100%;
}

.css-c8odyh-control {
  min-height: 3rem;
}
/* new blog post styles end */

/* posting area guide styles start */
.zillaSideBar {
  height: 100vh;
  overflow-y: scroll;
  /* background-color: #bc9700; */
  border: 1px solid #e7e7e7;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.zillaSideBar ul {
  list-style: none;
}
.zillaSideBar li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zillaSideBar li:hover {
  background-color: #e7e7e7;
}

.zillaSideBar li.active {
  background-color: #e7e7e7;
}

.zillaTitle {
  background-color: #fcfbc7;
  border: 1px solid #e7e7e7;
}
.zillaTitle h5 {
  font-size: 20px;
  font-weight: 700;
}

.zillaSideBar::-webkit-scrollbar,
.searchDropDownMenu.dropdown-menu::-webkit-scrollbar,
.SignUpFormDropDownMenu.dropdown-menu.show::-webkit-scrollbar {
  width: 0.5em;
}
.zillaSideBar::-webkit-scrollbar-track,
.searchDropDownMenu.dropdown-menu::-webkit-scrollbar-track,
.SignUpFormDropDownMenu.dropdown-menu.show::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #e7e7e7;
}
.zillaSideBar::-webkit-scrollbar-thumb,
.searchDropDownMenu.dropdown-menu::-webkit-scrollbar-thumb,
.SignUpFormDropDownMenu.dropdown-menu.show::-webkit-scrollbar-thumb {
  background-color: #fde23c;
  outline: 1px solid #e7e7e7;
}
.blogPostBody h5 {
  font-size: 16px;
}
/* posting area guide styles end*/

.findPropertyDiv.dropdown::after {
  content: "";
  position: absolute;
  height: 3rem;
  width: 1px;
  background-color: #e7e7e7;
  top: -1rem;
}

body.plugin {
  display: flex;
  justify-content: flex-end;
}

/* about us styles start */
button.getInTouch {
  width: 14rem;
  background-color: #ffd200;
  color: #474747;
  box-shadow: var(--box-shadow);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

img.img-fluid.teamImg {
  width: 100%;
}

h2.aboutUsDetailsTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.ourOriginText p {
  text-align: center;
}

/* about us styles end */

/* get in touch styles start */

section.map {
  background-image: url("../images/Map_Embed.png");
  background-position: center;
  height: 60vh;
  background-size: auto;
  background-repeat: no-repeat;
}

h3.getIntouchCardTitle {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

button.getInTouchSendBtn {
  width: 100%;
  border: 1px solid #bfbfbf;
  outline: 0;
  background-color: #bc992f;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  letter-spacing: 0.2px;
  box-shadow: var(--box-shadow);
}
.getInTouchCard.card {
  border-top: 6px solid #bc992f;
  box-shadow: var(--box-shadow);
}

.getInTouchLeft h1 {
  font-size: 36px;
  font-weight: 700;
}

.getInTouchLeft p {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.getInTouchLeft p span {
  font-weight: 400;
  font-size: 12px;
  margin-left: 1rem;
  color: #696969;
}

.getInTouchLeft p:last-child {
  font-weight: 500;
}
.getInTouchLeft p img {
  margin-right: 1rem;
}

.getInTouchLeft h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}
/* get in touch styles end */

/* careers styles start */
.careerTitle h1 {
  text-align: center;
  font-size: 20px;
  line-height: 42px;
  font-weight: 700;
  color: #a08a00;
  margin: 2rem 0;
}

.careerTitle h1::after {
  content: "";
  position: absolute;
  background: #a08a00;
  height: 1px;
  width: 25%;
  right: 0;
  margin-right: 1rem;
  margin-top: 1.6rem;
}
.careerTitle h1::before {
  content: "";
  position: absolute;
  background: #a08a00;
  height: 1px;
  width: 25%;
  left: 0;
  margin-left: 1rem;
  margin-top: 1.6rem;
}

@media (max-width: 768px) {
  .careerTitle h1::before,
  .careerTitle h1::after {
    width: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .careerTitle h1::before,
  .careerTitle h1::after {
    width: 15%;
  }
}

@media (min-width: 768px) {
  .careerTitle h1 {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .signUpCard {
    padding: 2rem;
  }
}

.careerTitleDetails p {
  font-size: 1.2rem;
  text-align: center;
}
.hiringOverview h3,
.availablePost h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.jobPost {
  border: 1px solid #474747;
}

.jobPost h4 {
  font-size: 20px;
  font-weight: 700;
}

.jobPost h5 {
  font-size: 16px;
}

.jobPost h6 {
  font-weight: 700;
  font-size: 1rem;
  color: #666666;
}

.jobPost a.applyNow,
button.applyNow {
  border: 0;
  outline: 0;
  background: #bc992f;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  line-height: 36px;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.jobPost a.editJobPost {
  border: 1px solid #474747;
  outline: 0;
  background: transparent;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  line-height: 36px;
  letter-spacing: 0.3px;
  text-decoration: none;
  margin-right: 1rem;
}

.jobPostPageTitle h1 {
  font-size: 28px;
  font-weight: 700;
  color: #747474;
}

.jobPostTitle h3 {
  font-size: 24px;
  font-weight: 700;
  color: #747474;
}

.jobPostDetails h5 {
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

.jobPostFooter h6 {
  font-size: 1rem;
  font-weight: 700;
  width: 10rem;
  margin-bottom: 0.5rem;
}
.jobPostFooter p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
button.applyNow {
  border: 0;
  outline: 0;
  background: #bc992f;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  line-height: 36px;
  letter-spacing: 0.3px;
  text-decoration: none;
}

label.cvLabel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #e7e7e7;
  font-weight: bold;
  cursor: pointer;
}
/* careers styles end */

/* termsAndConditions styles start */

.termsAndConditions p,
.privacyPolicy p {
  line-height: 25px;
  text-align: justify;
}

.termsAndConditions h4,
.privacyPolicy h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 1rem;
}

/* termsAndConditions styles end */
